.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } 

.datagrid table tr{background-color:#E1EEf4; text-align:center;  }
.datagrid {font: bolder 14px/150% Trebuchet MS, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #0d798d; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
 .datagrid table th { padding: 3px 10px; background-color:#0d798d; color: #FFFFFF; text-align:center;  }
 .datagrid table td{border-bottom: 1px solid #0d798d; border-right:none;border-left:none;  color:#494747;  }

.datagrid table tbody td { color: #494747; font-size: 13px;font-weight: bolder; }

.datagrid table tr:nth-child(even) {background: #FFF }
.datagrid table tr:nth-child(odd) {background: #CCC}
.datagrid table tr:hover{background-color: #7da1c4}


