@{
    
    if (Session["UserId"] == "sanjuan")
    {
        Layout = "~/Views/Shared/_OtroLayout.cshtml";
    }

    if (Session["UserId"] == "mendoza")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    
    
    
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Onnix Inicial</h1>
    <p class="lead">Onnix es un local de venta de ropa con dos sucursales ubicadas en calles San Juan y Mendoza </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Titulo uno</h2>
        <p>
            Aca va el contenido del Titulo Uno
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Titulo dos</h2>
        <p>Aca va el contenido del Titulo Dos</p>
        
    </div>
    <div class="col-md-4">
        <h2>Titulo tres</h2>
        <p>Aca va el contenido del Titulo Tres</p>
    </div>
</div>