
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Venta</title>
</head>
<body>
    <div> 
        @{ Html.Partial("~/Views/Producto/Lista.cshtml");  }
    </div>
</body>
</html>
