
<p style="font-family: 'Inder', sans-serif; line-height: 28px; margin-bottom: 15px; color: white;
	text-align: center;
	text-transform: uppercase;">Acceso Restringido!
    Ingrese los datos de Administrador para continuar</p>